#header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: self-end;
    justify-content:right;
    gap: 10px;
    padding: auto;
}
#header { 
    color:black;
    font-size:30px;
    font-family: 'Brygada 1918', serif;
}
#header img{
width:80px;
height:80px;
}
.ul li{
font-size:30px; 
display: inline-block;
justify-content: center;
margin:30px;
border-radius: 0;
}