/*nav-header*/
#nav {
    background-color: red;
}
#header {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: self-end;
    justify-content:right;
    gap: 20px;
    padding: 20px;
}
#header h1 { 
    display: inline-block;
    color:red;
    font-size:80px;
    font-family: 'Brygada 1918', serif;
}
#header h2{
    color:black;
    font-size:70px ;
    font-family: 'Brygada 1918', serif;
}
#header img{
width:80px;
height:80px;
}
.ul li{
font-size:30px; ;
display: inline-block;
justify-content: center;
margin:50px;
border-radius: 0;
}