#boxarticle {
    margin: 5px;
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;
}
#parrafoinformacion {
    margin-top: 50px;
    color: black;
    font-size: 30px;
    font-family: "Brygada 1918", serif;
}
#pedido h2{   
    text-align: center;
    color:black;
    font-size:60px;
    font-family: 'Permanent Marker', cursive; 
}
