/*Reseteamos los estilos*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Brygada 1918', serif;
}
li{
    list-style:none;
}
a{
font-style:none;
text-decoration:none;
text-decoration:none;
}