/*SPV=
selector=etiqueta/clase/id
propiedad=nombre que da estructura
valor=tamaño o valor que adquiere esa propiedas
*/

.article1 h1 { 
    color:black;
    font-size: 45px;
    font-family: 'Permanent Marker', cursive;
    margin-left: 20px;
}
.article3 h2{
    color:black;
    font-size:45px ;
    font-family: 'Permanent Marker', cursive;
    margin-left: 20px;
}
.article3 h3{
    color:black;
    font-size:40px;
    font-family: 'Permanent Marker', cursive;
    margin-left: 20px;
}
.article2 video {
width: 97%;
height: 97%;
margin-left: 20px;
}
.article4 img{
    margin: 10px;
    width:400px;
    height:400px;
}
.aticleh1 {
    color:black;
    font-size:40px;
    font-family: 'Permanent Marker', cursive;  
    margin-left: 20px;
}