.text h4{
    color:black;
    font-size:30px;
    font-family: 'Brygada 1918', serif;
    margin-left: 20px; 
}
.letras h2{   
    text-align: center;
    color:black;
    font-size:30px;
    font-family: 'Brygada 1918', serif;
} 
.letras h1{
    text-align: center;
    color:black;
    font-size:30px;
    font-family: 'Brygada 1918', serif;
}