#articlelogo {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background: linear-gradient(55deg,black,white,black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px;
}
.letra h5 {
    color:black;
    font-size:40px;
    font-family: 'Permanent Marker', cursive;  
}
.logo {
    border: 0px solid;
    width: auto;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 100px;
    height: 100px;
}
