#articlelogo {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px;
}
.letra h5{
    margin-left: 20px;
    color:black;
    font-size: 100%;
    font-family: 'Brygada 1918', serif;
    
}
.logo {
    border: 0px solid;
    width: auto;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 100px;
    height: 100px;
}
