.letras h2{   
    text-align: center;
    color:black;
    font-size:60px;
    font-family: 'Permanent Marker', cursive; 
} 
.letras h1{
    text-align: center;
    color:black;
    font-size:40px;
    font-family: 'Permanent Marker', cursive;  
}
#boxg {
margin-top:0;
display: grid;
grid-template-columns: 400px 400px 400px;
gap:20px;
margin-left: 50px;
} 
.box img {
width: 100%;
height: 100%;
}
#palabras{
    margin-top: 50px;
    margin-left: 20px;
    color:black;
    font-size:30px ;
    font-family: 'Brygada 1918', serif;  
}