#palabras h3{
    margin-top: 30px;
    margin-left: 30px;
    color:black;
    font-size:30px;
    font-family: 'Brygada 1918', serif;
}
#boxg {
margin-top:10px;
display: grid;
grid-template-columns: 300px 300px 300px;
gap:20px;
margin-left: 30px;
} 
.box img {
width: 100%;
height: 100%;
}
